{"openapi":"3.0.2","info":{"title":"Cakemail API","description":"The Cakemail API exposes multiple APIs including Authentication, Marketing, Contact, Transactional, Analytic, Content, Account and Partner.","version":"1.12.14"},"servers":[{"url":"https://api.cakemail.dev"}],"paths":{"/accounts/self":{"get":{"tags":["Account"],"summary":"Show my account details","operationId":"getSelfAccount","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Account"],"summary":"Update my account","operationId":"patchSelfAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSelfAccount"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions":{"get":{"tags":["Action"],"summary":"List actions","operationId":"listActions","parameters":[{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":false,"schema":{"title":"page","type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Action"],"summary":"Create an action","operationId":"createAction","parameters":[{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"title":"lock_key","pattern":"^[a-zA-Z0-9-_]{8,}$","type":"string","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}":{"get":{"tags":["Action"],"summary":"Get an action","operationId":"getAction","parameters":[{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"title":"lock_key","pattern":"^[a-zA-Z0-9-_]{8,}$","type":"string","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Action"],"summary":"Delete an action","operationId":"deleteAction","parameters":[{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"title":"lock_key","pattern":"^[a-zA-Z0-9-_]{8,}$","type":"string","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Action"],"summary":"Update an action","operationId":"patchAction","parameters":[{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"title":"lock_key","pattern":"^[a-zA-Z0-9-_]{8,}$","type":"string","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAction"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}/render":{"get":{"tags":["Action"],"summary":"Render an action","operationId":"renderAction","parameters":[{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"title":"lock_key","pattern":"^[a-zA-Z0-9-_]{8,}$","type":"string","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"text/html":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}/send-test":{"post":{"tags":["Action"],"summary":"Send a test of an action","operationId":"sendTestAction","parameters":[{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Locking key, preventing other users from modifying this workflow for a short period.","required":false,"schema":{"title":"lock_key","pattern":"^[a-zA-Z0-9-_]{8,}$","type":"string","description":"Locking key, preventing other users from modifying this workflow for a short period."},"name":"lock_key","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestAction"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestActionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns":{"get":{"tags":["Campaign"],"summary":"Show all campaigns","operationId":"listCampaigns","parameters":[{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `name`\n  - `type`\n  - `list_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `status`\n  - `name`\n  - `type`\n  - `list_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`\n  - `scheduled_for`\n  - `scheduled_on`\n  - `updated_on`\n  - `type`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`\n  - `scheduled_for`\n  - `scheduled_on`\n  - `updated_on`\n  - `type`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Campaign"],"summary":"Create a campaign","operationId":"createCampaign","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaign"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}":{"get":{"tags":["Campaign"],"summary":"Show a campaign details","operationId":"getCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"revision_id","type":"integer"},"name":"revision_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Campaign"],"summary":"Delete a campaign","operationId":"deleteCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Campaign"],"summary":"Update a campaign","operationId":"patchCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCampaign"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/render":{"get":{"tags":["Campaign"],"summary":"Render a campaign","operationId":"renderCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"query"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenderCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/send-test":{"post":{"tags":["Campaign"],"summary":"Send a test email","operationId":"sendTestEmail","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestEmail"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTestEmailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/schedule":{"post":{"tags":["Campaign"],"summary":"Schedule a campaign","operationId":"scheduleCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaign"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/unschedule":{"post":{"tags":["Campaign"],"summary":"Unschedule a campaign","operationId":"unscheduleCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/reschedule":{"post":{"tags":["Campaign"],"summary":"Reschedule a campaign","operationId":"rescheduleCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaign"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/suspend":{"post":{"tags":["Campaign"],"summary":"Suspend a campaign","operationId":"suspendCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuspendCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/resume":{"post":{"tags":["Campaign"],"summary":"Resume a campaign","operationId":"resumeCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResumeCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/cancel":{"post":{"tags":["Campaign"],"summary":"Cancel a campaign","operationId":"cancelCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/archive":{"post":{"tags":["Campaign"],"summary":"Archive a campaign","description":"You can only delete a campaign when the status is draft. However, if you want to remove a campaign from your list of active campaigns, you can archive it.","operationId":"archiveCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArchiveCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/unarchive":{"post":{"tags":["Campaign"],"summary":"Unarchive a campaign","operationId":"unarchiveCampaign","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArchiveCampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/revisions":{"get":{"tags":["Campaign"],"summary":"Show all campaign revisions","operationId":"getCampaignRevisions","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignRevisionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaign-blueprints":{"get":{"tags":["Campaign Blueprint"],"summary":"Show all campaign blueprints","operationId":"listCampaignBlueprints","parameters":[{"required":false,"schema":{"title":"page","type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `tag`\n  - `name`\n  - `is_owner`\n  - `is_not_owner`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `tag`\n  - `name`\n  - `is_owner`\n  - `is_not_owner`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `created_on`\n  - `updated_on`\n  - `name`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `created_on`\n  - `updated_on`\n  - `name`","default":"id"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignBlueprintsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/campaign-blueprints/{blueprint_id}":{"get":{"tags":["Campaign Blueprint"],"summary":"Get a campaign blueprint","operationId":"getCampaignBlueprint","parameters":[{"required":true,"schema":{"title":"blueprint_id","type":"integer"},"name":"blueprint_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignBlueprintResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/campaign-blueprints/{blueprint_id}/render":{"get":{"tags":["Campaign Blueprint"],"summary":"Render campaign blueprint","operationId":"renderCampaignBlueprint","parameters":[{"required":true,"schema":{"title":"blueprint_id","type":"integer"},"name":"blueprint_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"text/html":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/lists/{list_id}/contacts/add-interests":{"post":{"tags":["Contact"],"summary":"Add interest(s) to contact(s)","operationId":"addInterestsToContacts","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddInterestsToContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddInterestsToMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts":{"get":{"tags":["Contact"],"summary":"Show contacts of a list","operationId":"listContactsOfList","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer"},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"SQL selection query (only use one of query, fiql and json)","required":false,"schema":{"title":"query","type":"string","description":"SQL selection query (only use one of query, fiql and json)"},"name":"query","in":"query"},{"description":"FIQL selection expression (only use one of query, fiql and json)","required":false,"schema":{"title":"fiql","type":"string","description":"FIQL selection expression (only use one of query, fiql and json)"},"name":"fiql","in":"query"},{"description":"JSON selection expression (only use one of query, fiql and json)","required":false,"schema":{"title":"json","type":"string","description":"JSON selection expression (only use one of query, fiql and json)","format":"json-string"},"name":"json","in":"query"},{"description":"Cursor pagination","required":false,"schema":{"title":"cursor","type":"string","description":"Cursor pagination"},"name":"cursor","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`"},"name":"sort","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Contact"],"summary":"Add a contact","operationId":"createContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/DoubleOptIn"}],"default":"false","title":"send_double_opt_in"},"name":"send_double_opt_in","in":"query"},{"required":false,"schema":{"title":"resubscribe","type":"boolean","default":true},"name":"resubscribe","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/segments/{segment_id}/contacts":{"get":{"tags":["Contact"],"summary":"Show contacts of a segment","operationId":"listContactsOfSegment","parameters":[{"required":true,"schema":{"title":"segment_id","minimum":1.0,"type":"integer"},"name":"segment_id","in":"path"},{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer"},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"SQL selection query (only use one of query, fiql and json)","required":false,"schema":{"title":"query","type":"string","description":"SQL selection query (only use one of query, fiql and json)"},"name":"query","in":"query"},{"description":"FIQL selection expression (only use one of query, fiql and json)","required":false,"schema":{"title":"fiql","type":"string","description":"FIQL selection expression (only use one of query, fiql and json)"},"name":"fiql","in":"query"},{"description":"JSON selection expression (only use one of query, fiql and json)","required":false,"schema":{"title":"json","type":"string","description":"JSON selection expression (only use one of query, fiql and json)","format":"json-string"},"name":"json","in":"query"},{"description":"Cursor pagination","required":false,"schema":{"title":"cursor","type":"string","description":"Cursor pagination"},"name":"cursor","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `email`\n  - `status`\n  - `subscribed_on`\n  - `last_bounce_type`\n  - `bounces_count`"},"name":"sort","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/tag":{"post":{"tags":["Contact"],"summary":"Tags multiple contacts","operationId":"tagMultipleContacts","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagMultipleContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/untag":{"post":{"tags":["Contact"],"summary":"Untags multiple contacts","operationId":"untagMultipleContacts","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UntagMultipleContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UntagMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}":{"get":{"tags":["Contact"],"summary":"Show a contact details","operationId":"getContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Contact"],"summary":"Delete a contact","operationId":"deleteContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Contact"],"summary":"Update a contact","operationId":"patchContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchContact"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/import-contacts":{"post":{"tags":["Contact"],"summary":"Import contacts","description":"Synchronize your own list with Cakemail by importing to your active, unsubscribed or delete contacts.","operationId":"importContacts","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/DoubleOptIn"}],"default":"false","title":"send_double_opt_in"},"name":"send_double_opt_in","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportContacts"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}/unsubscribe":{"post":{"tags":["Contact"],"summary":"Unsubscribe a contact from a list","operationId":"unsubscribeContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribeContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}/tag":{"post":{"tags":["Contact"],"summary":"Tags a contact","operationId":"tagContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/{contact_id}/untag":{"post":{"tags":["Contact"],"summary":"Untags a contact","operationId":"untagContact","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"contact_id","minimum":1.0,"type":"integer"},"name":"contact_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tags"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UntagContactResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true,"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/contacts/remove-interests":{"post":{"tags":["Contact"],"summary":"Remove interest(s) from contact(s)","operationId":"removeInterestsFromContacts","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveInterestsFromContacts"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveInterestsFromMultipleContactsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/custom-attributes":{"get":{"tags":["Custom Attribute"],"summary":"Show all custom attributes","operationId":"listCustomAttributes","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Custom Attribute"],"summary":"Create a custom attribute","operationId":"createCustomAttribute","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomAttribute"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAttributeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/custom-attributes/{name}":{"get":{"tags":["Custom Attribute"],"summary":"Show a custom attribute","operationId":"getCustomAttribute","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"name","type":"string"},"name":"name","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAttributeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Custom Attribute"],"summary":"Delete a custom attribute","operationId":"deleteCustomAttribute","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"name","type":"string"},"name":"name","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCustomAttributeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/dkim":{"get":{"tags":["DKIM"],"summary":"List Dkim Keys","operationId":"list_dkim_keys_brands_default_dkim_get","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DkimKeysResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["DKIM"],"summary":"Create Dkim Key","operationId":"create_dkim_key_brands_default_dkim_post","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDkim"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDkimResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/dkim/{id}":{"get":{"tags":["DKIM"],"summary":"Get Dkim Key","operationId":"get_dkim_key_brands_default_dkim__id__get","parameters":[{"required":true,"schema":{"title":"id","type":"integer"},"name":"id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DkimKeyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["DKIM"],"summary":"Delete Dkim Key","operationId":"delete_dkim_key_brands_default_dkim__id__delete","parameters":[{"required":true,"schema":{"title":"id","type":"integer"},"name":"id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDkimKeyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/domains/default":{"get":{"tags":["Domain"],"summary":"Show domains","description":"Show the Tracking and Bounce domains.","operationId":"showDomains","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Domain"],"summary":"Change domains","description":"Change the Tracking and Bounce domains.","operationId":"patchDomains","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDomains"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDomainsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/domains/default/validate":{"get":{"tags":["Domain"],"summary":"Validate domains","description":"Validate and return the DNS entries for the Tracking and the Bounce domains.","operationId":"validateDomains","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateDomainsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/emails":{"post":{"tags":["Transactional Email"],"summary":"Send a transactional email","operationId":"sendEmail","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Email"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/forms":{"get":{"tags":["Form"],"summary":"Show all forms","operationId":"listForms","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `language`\n  - `created_on`\n  - `last_updated_on`\n  - `list_id`\n  - `status`","required":false,"schema":{"title":"sort","pattern":"[-|+]?[a-zA-Z_]+","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `language`\n  - `created_on`\n  - `last_updated_on`\n  - `list_id`\n  - `status`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Form"],"summary":"Create a form","operationId":"createForm","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateForm"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFormResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/forms/{form_id}":{"get":{"tags":["Form"],"summary":"Show a form details","operationId":"getForm","parameters":[{"required":true,"schema":{"title":"form_id","type":"string"},"name":"form_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Form"],"summary":"Delete a form","operationId":"deleteForm","parameters":[{"required":true,"schema":{"title":"form_id","type":"string"},"name":"form_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFormResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Form"],"summary":"Update a form","operationId":"patchForm","parameters":[{"required":true,"schema":{"title":"form_id","type":"string"},"name":"form_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchForm"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchFormResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/links/{link_id}":{"get":{"tags":["Links"],"summary":"Show a link information","operationId":"getLink","parameters":[{"required":true,"schema":{"title":"link_id","type":"integer"},"name":"link_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkInfoResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/campaigns/{campaign_id}/links":{"get":{"tags":["Campaign"],"summary":"Show a campaign links","operationId":"listLinks","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinksResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/workflows/{workflow_id}/actions/{action_id}/links":{"get":{"tags":["Action"],"summary":"Show action links","operationId":"listActionLinks","parameters":[{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinksResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists":{"get":{"tags":["List"],"summary":"Show all lists","operationId":"listLists","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `name`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `status`\n  - `name`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `created_on`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["List"],"summary":"Create a List","operationId":"createList","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}":{"get":{"tags":["List"],"summary":"Show a list parameters","operationId":"getList","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["List"],"summary":"Delete a List","operationId":"deleteList","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["List"],"summary":"Update a list parameters","operationId":"patchList","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateList"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/accept-policy":{"post":{"tags":["List"],"summary":"Accept policy for a list","operationId":"acceptListPolicy","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptListPolicyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/archive":{"post":{"tags":["List"],"summary":"Archive a list","operationId":"archiveList","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArchiveListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/unarchive":{"post":{"tags":["List"],"summary":"Unarchive a list","operationId":"unarchiveList","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnarchiveListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/exports":{"get":{"tags":["Contact"],"summary":"Show all Contacts Exports","description":"Show all Contacts Exports.","operationId":"listContactsExports","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `status`\n  - `created_on`\n  - `expires_on`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `status`\n  - `created_on`\n  - `expires_on`"},"name":"sort","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `progress`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `status`\n  - `progress`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsExportsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Contact"],"summary":"Create a Contacts Export","description":"Create a Contacts Export to a CSV file.","operationId":"exportContacts","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"description","type":"string"},"name":"description","in":"query"},{"required":false,"schema":{"title":"query","type":"string"},"name":"query","in":"query"},{"required":false,"schema":{"title":"fiql","type":"string"},"name":"fiql","in":"query"},{"required":false,"schema":{"title":"json","type":"string","format":"json-string"},"name":"json","in":"query"},{"required":false,"schema":{"title":"segment_id","minimum":1.0,"type":"integer"},"name":"segment_id","in":"query"},{"description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `status`\n  - `email`\n  - `tags`\n  - `interests`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactsExportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/exports/{export_id}":{"get":{"tags":["Contact"],"summary":"Show a Contacts Export","description":"Show a Contacts Export.","operationId":"getContactsExport","parameters":[{"required":true,"schema":{"title":"export_id","type":"string"},"name":"export_id","in":"path"},{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsExportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Contact"],"summary":"Delete a Contacts Export","description":"Delete a Contacts Export.","operationId":"deleteContactsExport","parameters":[{"required":true,"schema":{"title":"export_id","type":"string"},"name":"export_id","in":"path"},{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsExportDeleteResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/exports/{export_id}/download":{"get":{"tags":["Contact"],"summary":"Download a Contacts Export","description":"Download a Contacts Export.","operationId":"downloadContactsExport","parameters":[{"required":true,"schema":{"title":"export_id","type":"string"},"name":"export_id","in":"path"},{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadContactsExportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/lists/{list_id}":{"get":{"tags":["Log"],"summary":"Show list logs","operationId":"getListLogs","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"start_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"start_time","in":"query"},{"required":false,"schema":{"title":"end_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"end_time","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `additional_info`\n  - `contact_id`\n  - `email`\n  - `uniques`\n  - `group_by_contact`\n  - `track_id`\n  - `log_id`\n  - `start_id`\n  - `end_id`\n  - `totals`\n  - `type`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `additional_info`\n  - `contact_id`\n  - `email`\n  - `uniques`\n  - `group_by_contact`\n  - `track_id`\n  - `log_id`\n  - `start_id`\n  - `end_id`\n  - `totals`\n  - `type`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListLogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/campaigns/{campaign_id}":{"get":{"tags":["Log"],"summary":"Show campaign logs","operationId":"getCampaignLogs","parameters":[{"required":true,"schema":{"title":"campaign_id","minimum":1.0,"type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"start_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"start_time","in":"query"},{"required":false,"schema":{"title":"end_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"end_time","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"required":false,"schema":{"title":"cursor","type":"string"},"name":"cursor","in":"query"},{"description":"Valid Terms:\n  - `additional_info`\n  - `link_id`\n  - `contact_id`\n  - `email`\n  - `uniques`\n  - `group_by_contact`\n  - `log_id`\n  - `totals`\n  - `type`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `additional_info`\n  - `link_id`\n  - `contact_id`\n  - `email`\n  - `uniques`\n  - `group_by_contact`\n  - `log_id`\n  - `totals`\n  - `type`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `time`\n  - `log_id`","required":false,"schema":{"title":"sort","pattern":"[-|+]?.*","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `time`\n  - `log_id`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignLogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/emails":{"get":{"tags":["Log"],"summary":"Show transactional email logs","operationId":"getEmailLogs","parameters":[{"required":true,"schema":{"title":"log_type","allOf":[{"$ref":"#/components/schemas/LogType"}]},"name":"log_type","in":"query"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"start_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"start_time","in":"query"},{"required":false,"schema":{"title":"end_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"end_time","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `group_id`\n  - `email`\n  - `email_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `group_id`\n  - `email`\n  - `email_id`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailLogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/workflows/{workflow_id}/actions/{action_id}":{"get":{"tags":["Log"],"summary":"Show action logs","operationId":"getActionLogs","parameters":[{"required":true,"schema":{"title":"workflow_id","type":"string"},"name":"workflow_id","in":"path"},{"required":true,"schema":{"title":"action_id","type":"string"},"name":"action_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"start_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"start_time","in":"query"},{"required":false,"schema":{"title":"end_time","maximum":2147483647.0,"minimum":1.0,"type":"integer"},"name":"end_time","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Valid Terms:\n  - `additional_info`\n  - `link_id`\n  - `contact_id`\n  - `email`\n  - `log_id`\n  - `track_id`\n  - `type`\n  - `group_by_contact`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`","required":false,"schema":{"title":"filter","type":"string","description":"Valid Terms:\n  - `additional_info`\n  - `link_id`\n  - `contact_id`\n  - `email`\n  - `log_id`\n  - `track_id`\n  - `type`\n  - `group_by_contact`\n\nValid Operators:\n  - `==`\n\nQuery separator:\n  - `;`"},"name":"filter","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `time`\n  - `log_id`","required":false,"schema":{"title":"sort","pattern":"[-|+]?.*","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `time`\n  - `log_id`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionLogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/campaigns/{campaign_id}/exports":{"get":{"tags":["Log"],"summary":"Show all campaign log exports","description":"Show all campaign log exports","operationId":"listCampaignLogExports","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","minimum":1.0,"type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignLogExportsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Log"],"summary":"Create a campaign log export","description":"Export to CSV a campaign log.","operationId":"campaignLogExportCreate","parameters":[{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"description","type":"string"},"name":"description","in":"query"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignLogExportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/logs/campaigns/{campaign_id}/exports/{campaign_log_export_id}/download":{"get":{"tags":["Log"],"summary":"Download a campaign log export","description":"Returns the URL to download the exported CSV file.","operationId":"campaignLogExportDownload","parameters":[{"required":true,"schema":{"title":"campaign_log_export_id","type":"string"},"name":"campaign_log_export_id","in":"path"},{"required":true,"schema":{"title":"campaign_id","type":"integer"},"name":"campaign_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadCampaignLogExportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/logos/default":{"put":{"tags":["Logo"],"summary":"Upload a default logo","operationId":"uploadDefaultLogo","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadLogo"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadLogoResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Logo"],"summary":"Delete the default logo","operationId":"deleteDefaultLogo","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteLogoResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/segments":{"get":{"tags":["Segment"],"summary":"Show all segments","operationId":"listSegments","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `name`\n  - `created_on`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `id`\n  - `name`\n  - `created_on`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Segment"],"summary":"Create a segment","operationId":"createSegment","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Segment"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSegmentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/lists/{list_id}/segments/{segment_id}":{"get":{"tags":["Segment"],"summary":"Show a segment details","operationId":"getSegment","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"segment_id","minimum":1.0,"type":"integer"},"name":"segment_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Segment"],"summary":"Delete a segment","operationId":"deleteSegment","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"segment_id","minimum":1.0,"type":"integer"},"name":"segment_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSegmentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"patch":{"tags":["Segment"],"summary":"Update a segment","operationId":"patchSegment","parameters":[{"required":true,"schema":{"title":"list_id","minimum":1.0,"type":"integer"},"name":"list_id","in":"path"},{"required":true,"schema":{"title":"segment_id","minimum":1.0,"type":"integer"},"name":"segment_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSegment"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSegmentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/senders":{"get":{"tags":["Sender"],"summary":"Show all senders","operationId":"listSenders","parameters":[{"required":false,"schema":{"title":"page","minimum":1.0,"type":"integer","default":1},"name":"page","in":"query"},{"required":false,"schema":{"title":"per_page","minimum":1.0,"type":"integer","default":50},"name":"per_page","in":"query"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"},{"required":false,"schema":{"title":"with_count","type":"boolean","default":false},"name":"with_count","in":"query"},{"description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `email`\n  - `confirmed`","required":false,"schema":{"title":"sort","type":"string","description":"Sort term and direction, using syntax `[-|+]term`.\n\nValid terms:\n  - `name`\n  - `email`\n  - `confirmed`"},"name":"sort","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendersResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Sender"],"summary":"Add a sender","operationId":"createSender","parameters":[{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSender"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSenderResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/brands/default/senders/{sender_id}":{"get":{"tags":["Sender"],"summary":"Show a sender details","operationId":"getSender","parameters":[{"required":true,"schema":{"title":"sender_id","type":"string"},"name":"sender_id","in":"path"},{"required":false,"schema":{"title":"account_id","type":"integer"},"name":"account_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPBadRequestError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"delete":{"tags":["Sender"],"summary":"Delete a sender","operationId":"deleteSender","parameters":[{"required":true,"schema":{"title":"sender_id","type":"string"
[...]
